@model IEnumerable<DoctorMVCModel.PatientModel>

@{
    ViewData["Title"] = "GetAllPatientData";
}

<h1>GetAllPatientData</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*@<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTrash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
@foreach (var item in Model) {
    <div>
        <div class="card">
            <a href="@Url.Action("GetAllDoctorDetails_PatientID","Patient",new {PatientID=item.PatientID})">
                <h5>
                    Click to view PatientDetails
                </h5></a>
                <div class="card-header">
                    <h3>
                        ProfilePic :  @item.ProfilePic
                    </h3>
                </div>
                <div class="card-body">
                    <p> PatientID : @item.PatientID</p>
                    <p> Age : @item.Age</p>
                    <p> Gender : @item.Gender</p>
                    <p> BloodGroup : @item.BloodGroup</p>
                    <p> MedicalHistory : @item.MedicalHistory</p>
                </div>
        </div>
    </div>
        @*@<tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTrash)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>*@
}
    @*@</tbody>
</table>*@
